* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: #1E4391;
  font-size: 2.708vw;
  font-weight: 600;
  line-height: 2.98vw;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.65vw; //TODO тут было 5.208vw
  width: 100%;
  overflow: hidden;
  z-index: -100;
  font-family: Montserrat, sans-serif;
  background-color: #F6F6F6;
}

.content {
  width: 79.69vw;
  display: flex;
  flex-direction: column;
  gap: 3.125vw;
  justify-content: start;


  &__bottomButtons {
    display: flex;
    justify-content: space-between;
  }
}

.buttonGroup {
  display: flex;
  width: 60%;
  justify-content: space-between;

  p {
    font-size: 1.25vw;
    font-weight: 600;
    line-height: 1.5vw;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.buttonGroup div {
  display: flex;
  align-items: center;
}

.buttonGroup__radioButton {
  display: flex;
  gap: 1.67vw;
  justify-content: space-between;
}

.buttonGroup__radioButton label {
  //styleName: Заголовок3;
  font-family: Montserrat, sans-serif;
  font-size: 1.25vw;
  font-weight: 600;
  line-height: 1.5vw;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.buttonGroup input[type="radio"] {
  appearance: none;
  width: 1.5625vw;
  height: 1.5625vw;
  border: 0.104vw solid #000;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonGroup input[type="radio"]:checked {
  background-color: #fff;
}

.buttonGroup input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  width: 1.04vw;
  height: 1.04vw;
  background-color: #1E4391;
  border-radius: 50%;
}

.list {
  margin-top: 2rem;

  &__table {
    width: 79.6875vw;
    padding: 2.5vw 4.167vw 2.5vw 4.167vw;
    border-radius: 1.25vw;
    justify: space-between;


    th, td {
      padding: 0.75rem 1rem;
      text-align: left;
      background-color: white;
    }

    th {
      background-color: #ffffff;
      font-weight: 600;
    }
  }
}

