@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  height: 1080px;
  width: 100%;
  overflow: hidden;
  z-index: -100;
  font-family: Montserrat, sans-serif;
  background-color: #F6F6F6;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 60px;
  padding: 0 195px;
}
.content__title {
  color: #1E4391;
  font-size: 52px;
  font-weight: 600;
  line-height: 57.2px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.content__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.buttonGroup {
  display: flex;
  width: 602px;
  justify-content: space-between;
}
.buttonGroup div {
  display: flex;
  align-items: center;
}
.buttonGroup__radioButton {
  display: flex;
  width: 262px;
  justify-content: space-between;
}
.buttonGroup__radioButton label {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  letter-spacing: 1.2px;
}
.buttonGroup input[type=radio] {
  appearance: none; /* Убираем стандартный вид радио-кнопки */
  width: 30px; /* Размер внешнего круга */
  height: 30px; /* Размер внешнего круга */
  border: 2px solid #000; /* Цвет внешней границы */
  border-radius: 50%; /* Круглая форма */
  background-color: #fff; /* Цвет фона в невыбранном состоянии */
  cursor: pointer;
  position: relative;
  /* Позиционируем внутренний круг */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Внутренний круг */
}
.buttonGroup input[type=radio]:checked {
  background-color: #fff; /* Фон остается белым */
}
.buttonGroup input[type=radio]:checked::before {
  content: "";
  position: absolute;
  width: 20px; /* Размер внутреннего круга */
  height: 20px; /* Размер внутреннего круга */
  background-color: #1E4391; /* Синий цвет внутреннего круга */
  border-radius: 50%; /* Круглая форма внутреннего круга */
}

.inputGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 91.5px;
  grid-row-gap: 32px;
}
.inputGrid__element {
  height: 78px;
}
.inputGrid__element:last-child {
  display: flex;
  align-items: center;
}

.formControl {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  gap: 0.5em;
}

.formControl input[type=checkbox] {
  appearance: none; /* Убираем стандартный вид чекбокса */
  width: 30px; /* Размер чекбокса */
  height: 30px; /* Размер чекбокса */
  border: 2px solid #000; /* Цвет границы чекбокса */
  border-radius: 4px; /* Скругление углов */
  background-color: #fff; /* Цвет фона */
  cursor: pointer;
  position: relative;
  transition: background-color 0.4s, border-color 0.4s; /* Плавные переходы */
  /* Стиль для состояния "выбран" */
  /* Визуализация галочки через ::after */
}
.formControl input[type=checkbox]:checked {
  background-color: #1E4391; /* Цвет фона при выборе */
  border-color: #1E4391; /* Цвет границы при выборе */
}
.formControl input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  width: 6px; /* Толщина галочки */
  height: 15px; /* Длина вертикального элемента галочки */
  border: solid #fff;
  border-width: 0 3px 3px 0; /* Формируем угловые линии */
  transform: rotate(45deg); /* Поворот для формирования галочки */
  top: 5px; /* Позиция сверху */
  left: 9px; /* Позиция слева */
}

.controls {
  display: flex;
  justify-content: space-between;
}

.reviewsCheckbox {
  display: flex;
  justify-content: start;
  align-content: center;
  gap: 32px;
}
.reviewsCheckbox label {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/*# sourceMappingURL=CreateUser.module.css.map */
