@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.21vw; /* 100px -> 5.208333vw */
  height: 56.25vw; /* 1080px -> 56.25vw */
  width: 100%;
  overflow: hidden;
  z-index: -100;
  font-family: Montserrat, sans-serif;
  background-color: #F6F6F6;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 3.125vw;
  padding: 0 10.156vw;
}
.content__title {
  color: #1E4391;
  font-size: 2.71vw;
  font-weight: 600;
  line-height: 2.98vw;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.content__form {
  display: flex;
  flex-direction: column;
  gap: 1.67vw;
}

.buttonGroup {
  display: flex;
  width: 31.3542vw; /* 602px -> 31.354167vw */
  justify-content: space-between;
}
.buttonGroup div {
  display: flex;
  align-items: center;
}
.buttonGroup__radioButton {
  display: flex;
  width: 13.646vw; /* 262px -> 13.645833vw */
  justify-content: space-between;
}
.buttonGroup__radioButton label {
  font-size: 1.25vw; /* 24px -> 1.25vw */
  font-weight: 600;
  line-height: 1.5vw; /* 28.8px -> 1.5vw */
  text-align: left;
  letter-spacing: 0.0625vw; /* 1.2px -> 0.0625vw */
}
.buttonGroup input[type=radio] {
  appearance: none; /* Убираем стандартный вид радио-кнопки */
  width: 1.5625vw; /* 30px -> 1.5625vw */
  height: 1.5625vw; /* 30px -> 1.5625vw */
  border: 0.1042vw solid #000; /* 2px -> 0.104167vw */
  border-radius: 50%; /* Круглая форма */
  background-color: #fff; /* Цвет фона в невыбранном состоянии */
  cursor: pointer;
  position: relative;
  /* Позиционируем внутренний круг */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Внутренний круг */
}
.buttonGroup input[type=radio]:checked {
  background-color: #fff; /* Фон остается белым */
}
.buttonGroup input[type=radio]:checked::before {
  content: "";
  position: absolute;
  width: 1.0417vw; /* 20px -> 1.041667vw */
  height: 1.0417vw; /* 20px -> 1.041667vw */
  background-color: #1E4391; /* Синий цвет внутреннего круга */
  border-radius: 50%; /* Круглая форма внутреннего круга */
}

.inputGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 4.7656vw; /* 91.5px -> 4.765625vw */
  grid-row-gap: 1.67vw; /* 32px -> 1.666667vw */
}
.inputGrid__element {
  height: 4.0625vw; /* 78px -> 4.0625vw */
}
.inputGrid__element:last-child {
  display: flex;
  align-items: center;
}

.formControl {
  display: flex;
  font-size: 1.25vw; /* 24px -> 1.25vw */
  font-weight: 600;
  line-height: 1.5vw; /* 28.8px -> 1.5vw */
  text-align: left;
  gap: 0.5em;
}

.formControl input[type=checkbox] {
  appearance: none; /* Убираем стандартный вид чекбокса */
  width: 1.5625vw; /* 30px -> 1.5625vw */
  height: 1.5625vw; /* 30px -> 1.5625vw */
  border: 0.1042vw solid #000; /* 2px -> 0.104167vw */
  border-radius: 0.208vw; /* 4px -> 0.208333vw */
  background-color: #fff; /* Цвет фона */
  cursor: pointer;
  position: relative;
  transition: background-color 0.4s, border-color 0.4s; /* Плавные переходы */
  /* Стиль для состояния "выбран" */
  /* Визуализация галочки через ::after */
}
.formControl input[type=checkbox]:checked {
  background-color: #1E4391; /* Цвет фона при выборе */
  border-color: #1E4391; /* Цвет границы при выборе */
}
.formControl input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  width: 0.3125vw; /* 6px -> 0.3125vw */
  height: 0.781vw; /* 15px -> 0.78125vw */
  border: solid #fff;
  border-width: 0 0.15625vw 0.15625vw 0; /* 0px, 3px, 3px, 0px -> 0, 0.15625vw */
  transform: rotate(45deg); /* Поворот для формирования галочки */
  top: 0.26vw; /* 5px -> 0.260417vw */
  left: 0.469vw; /* 9px -> 0.46875vw */
}

.controls {
  display: flex;
  justify-content: space-between;
}

.reviewsCheckbox {
  display: flex;
  justify-content: start;
  align-content: center;
  gap: 1.67vw; /* 32px -> 1.666667vw */
}
.reviewsCheckbox label {
  font-size: 1.25vw; /* 24px -> 1.25vw */
  font-weight: 600;
  line-height: 1.5vw; /* 28.8px -> 1.5vw */
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/*# sourceMappingURL=CreateUser.module.css.map */
