@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.208vw;
  height: 56.25vw;
  width: 100%;
  overflow: hidden;
  z-index: -100;
  font-family: Montserrat, sans-serif;
  background-color: #F6F6F6;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 3.125vw;
  padding: 0 10.156vw;
}
.content__title {
  color: #1E4391;
  font-size: 2.71vw;
  font-weight: 600;
  line-height: 2.98vw;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.content__form {
  display: flex;
  flex-direction: column;
  gap: 1.67vw;
}

.buttonGroup {
  display: flex;
  width: 31.35vw;
  justify-content: space-between;
}
.buttonGroup div {
  display: flex;
  align-items: center;
}
.buttonGroup__radioButton {
  display: flex;
  width: 13.65vw;
  justify-content: space-between;
}
.buttonGroup__radioButton label {
  font-size: 1.25vw;
  font-weight: 600;
  line-height: 1.5vw;
  text-align: left;
  letter-spacing: 0.0625vw;
}
.buttonGroup input[type=radio] {
  appearance: none; /* Убираем стандартный вид радио-кнопки */
  width: 1.5625vw; /* Размер внешнего круга */
  height: 1.5625vw; /* Размер внешнего круга */
  border: 0.104vw solid #000; /* Цвет внешней границы */
  border-radius: 50%; /* Круглая форма */
  background-color: #fff; /* Цвет фона в невыбранном состоянии */
  cursor: pointer;
  position: relative;
  /* Позиционируем внутренний круг */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Внутренний круг */
}
.buttonGroup input[type=radio]:checked {
  background-color: #fff; /* Фон остается белым */
}
.buttonGroup input[type=radio]:checked::before {
  content: "";
  position: absolute;
  width: 1.04vw; /* Размер внутреннего круга */
  height: 1.04vw; /* Размер внутреннего круга */
  background-color: #1E4391; /* Синий цвет внутреннего круга */
  border-radius: 50%; /* Круглая форма внутреннего круга */
}

.inputGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 4.77vw;
  grid-row-gap: 1.67vw;
}
.inputGrid__element {
  height: 4.06vw;
}
.inputGrid__element:last-child {
  display: flex;
  align-items: center;
}

.formControl {
  display: flex;
  font-size: 1.25vw;
  font-weight: 600;
  line-height: 1.5vw;
  text-align: left;
  gap: 0.5em;
}

.formControl input[type=checkbox] {
  appearance: none; /* Убираем стандартный вид чекбокса */
  width: 1.56vw; /* Размер чекбокса */
  height: 1.56vw; /* Размер чекбокса */
  border: 0.104vw solid #000; /* Цвет границы чекбокса */
  border-radius: 0.208vw; /* Скругление углов */
  background-color: #fff; /* Цвет фона */
  cursor: pointer;
  position: relative;
  transition: background-color 0.4s, border-color 0.4s; /* Плавные переходы */
  /* Стиль для состояния "выбран" */
  /* Визуализация галочки через ::after */
}
.formControl input[type=checkbox]:checked {
  background-color: #1E4391; /* Цвет фона при выборе */
  border-color: #1E4391; /* Цвет границы при выборе */
}
.formControl input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  width: 0.3125vw; /* Толщина галочки */
  height: 0.78vw; /* Длина вертикального элемента галочки */
  border: solid #fff;
  border-width: 0 0.156vw 0.156vw 0; /* Формируем угловые линии */
  transform: rotate(45deg); /* Поворот для формирования галочки */
  top: 0.26vw; /* Позиция сверху */
  left: 0.469vw; /* Позиция слева */
}

.controls {
  display: flex;
  justify-content: space-between;
}

.reviewsCheckbox {
  display: flex;
  justify-content: start;
  align-content: center;
  gap: 1.67vw;
}
.reviewsCheckbox label {
  font-size: 1.25vw;
  font-weight: 600;
  line-height: 1.5vw;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/*# sourceMappingURL=UpdateUser.module.css.map */
