* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.208vw; //TODO тут было 100пикс
  height: 56.25vw;
  width: 100%;
  overflow: hidden;
  z-index: -100;
  font-family: Montserrat, sans-serif;
  background-color: #F6F6F6;
}

.content {
  width: 79.6875vw;
  display: flex;
  flex-direction: column;
  gap: 3.125vw;
  justify-content: start;

  &__title{
    color: #1E4391;
    font-size: 2.708vw;
    font-weight: 600;
    line-height: 2.98vw;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  &__form {
    width: 100%;
    height: 17.1875vw;
    display: flex;
    gap:8.8542vw;
  }
}

.inputs {
  width: 23.3vw;
  height: 16.77vw;

  &__item {
    width: 100%;
    height: 5.3125vw;
  }
}

.dateInfo{

  &__title {
    font-family: Montserrat,sans-serif;
    font-size: 1.25vw;
    font-weight: 600;
    line-height: 1.5vw;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.dayPicker {
  display: flex;
  flex-direction: column;
  gap: 1.67vw;
  align-items: start;
}

.addButton{
  font-family: Montserrat, sans-serif;
  font-size: 1.25vw;
  font-weight: 600;
  line-height: 1.5vw;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #1E4391;
}

.buttonGroup {
  display: flex;
  width: 100%;
  justify-content: space-between;

  p {
    font-size: 1.25vw;
    font-weight: 600;
    line-height: 1.5vw;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.buttonGroup div {
  display: flex;
  align-items: center;
}

.buttonGroup__radioButton {
  display: flex;
  gap: 1.67vw;
  justify-content: space-between;
}

.buttonGroup__radioButton label {
  //styleName: Заголовок3;
  font-family: Montserrat, sans-serif;
  font-size: 1.25vw;
  font-weight: 600;
  line-height: 1.5vw;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.buttonGroup input[type="radio"] {
  appearance: none;
  width: 1.5625vw;
  height: 1.5625vw;
  border: 0.1042vw solid #000;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonGroup input[type="radio"]:checked {
  background-color: #fff;
}

.buttonGroup input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  width: 1.0417vw;
  height: 1.0417vw;
  background-color: #1E4391;
  border-radius: 50%;
}

.bottomButtons {
  display: flex;
  justify-content: space-between;

  &__rightSection {
    display: flex;
    gap:0.78vw;
  }
}
