// В вашем файле SCSS
@use '../../variables' as *; // импортируем все из файла variables.scss


.container {
  padding: 1.5rem; // p-6
  background-color: #f3f4f6; // bg-gray-100
  min-height: 100vh; // min-h-screen
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  @include default_header(); // используем миксин без префикса
}

.headerButtons {
  display: flex;
  gap: 0.5rem; // space-x-2
  margin-left: auto; // ml-auto
}

.contentWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {
  width: 33.6rem;
  display: flex;
  flex-direction: column;
  gap: 32px;
}