.heading {
  font-size:2.708vw;
  line-height: 2.98vw;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  text-align: start;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}