.heading {
  font-size:52px;
  line-height: 57.2px;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  text-align: start;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}