.wrapper {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputs {
  display: flex;
  gap: 6px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.timeSelect, .timeInput, .dateInput {
  color: #1E4391;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #1E4391;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

.error {
  color: red;
  font-size: 12px;
}
