* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 1080px;
  width: 100%;
  overflow: hidden;
}


.leftSection{
  width: 50%;
  height: 100%;
  padding: 51.5px 161px 0 195px;
  display: flex;
  flex-direction: column;
  gap:181.5px;
  justify-content: start;
}

.form{
  display: flex;
  flex-direction: column;
  gap:60px;

  &__heading {
    font-size: 52px;
    font-weight: 600;
    line-height: 57.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1E4391;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__forgot {
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #CCCCCC;
  }
}


.rightSection {
  width: 50%;
  height: 100%;
  background-image: url('frontend/public/assets/images/login_bg.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
