* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5.365vw; /* 103px -> 5.364583vw */
  height: 56.25vw; /* 1080px -> 56.25vw */
  width: 100%;
  overflow: hidden;
  background-color: #F6F6F6;
}

.content {
  padding: 0 58.33vw 12.29vw 10.16vw; /* 1120px -> 58.333333vw, 236px -> 12.291667vw, 195px -> 10.15625vw */
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3.125vw; /* 60px -> 3.125vw */

  &__heading {
    font-size: 2.71vw; /* 52px -> 2.708333vw */
    font-weight: 600;
    line-height: 2.98vw; /* 57.2px -> 2.979167vw */
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1E4391;
  }

  &__inputs {
    height: 16.77vw; /* 322px -> 16.770833vw */
    display: flex;
    flex-direction: column;
    gap: 0.417vw; /* 8px -> 0.416667vw */
  }

  &__forgot {
    font-size: 0.94vw; /* 18px -> 0.9375vw */
    font-weight: 600;
    line-height: 1.125vw; /* 21.6px -> 1.125vw */
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #CCCCCC;
  }
}
