.wrapper{
  display: flex;
  flex-direction: column;
  gap: 0.21vw;
  height: 100%;

  &__content{
    height: 4.06vw;
    display: flex;
    flex-direction: column;
    gap: 0.42vw;

    @media (max-width: 768px) {
      height: 10.625vw; // Фиксированная высота для телефонов
      font-size: 5vw;
      line-height: 7.5vw; // Уменьшаем отступ для иконки
    }
  }

}

.label{
  font-size: 1.25vw;
  font-weight: 600;
  line-height: 1.5vw;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  @media (max-width: 768px) {
    font-size: 3.75vw;
    font-weight: 600;
    line-height: 4.5vw;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}

.input {
  width: 100%;
  height: 2.135vw;
  font-size: 1.25vw;
  font-weight: 600;
  line-height: 1.5vw;
  text-align: left;
  padding: 0;
  padding-right: 1.875vw; // Добавлено место для иконки
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: none;
  border-bottom: 0.104vw solid #CCCCCC;
  outline: none;
  background: none;
  margin: 0;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus {
    border-bottom: 0.104vw solid #1E4391;
  }

  &::placeholder{
    color: #CCCCCC;
  }

  &:-webkit-autofill {
    box-shadow: 0 0 0 52.08vw #F6F6F6 inset; // Убираем желтую подсветку
    -webkit-text-fill-color: #000; // Цвет текста
  }

  @media (max-width: 768px) {
    height: 5.652vw; // Фиксированная высота для телефонов
    font-size: 5vw;
    line-height: 7.5vw; // Уменьшаем отступ для иконки
  }
}

.icon{
  width: 1.5vw;
  height: 1.5vw;
}

.inputError {
  border-bottom: 0.104vw solid red;
}

.errorText{
  height: 1.04vw;
  color: red;
  font-size: 0.73vw;
  font-weight: 700;
  line-height: 1.02vw;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}