* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

.wrapper {
  display:flex;
  width:47.5vw;
  justify-content: space-between;

  &__dropdown {
    width: 15.3125vw;
  }
}

.dateDropdown {
  width: 15.365vw;
}