* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display:flex;
  width:912px;
  justify-content: space-between;

  &__dropdown {
    width: 294px;
  }
}

.dateDropdown {
  width: 295px;
}